<!-- <h1> Create User </h1>
<%= form_tag('/users', method: :post) do %>
<%= label_tag(:username, "Username:") %><br>
<%= text_field_tag(:username) %><br><br>
<%= label_tag(:email, "Email:") %><br>
<%= email_field_tag(:email) %><br><br>
<%= label_tag(:password, "Password:") %><br>
<%= password_field_tag(:password) %><br><br>
<%= submit_tag "Submit" %>
<% end %> -->

<% if @user.errors.any? %>
<%= @user.errors.full_messages %>
<% end %><br><br>

<%= form_for @user do |f| %>
<div class="field">
  <%= f.label "Your username here:" %><br>
  <%= f.text_field :username, value: "jabiro" %><br><br>
</div>
<div class="field">
  <%= f.label :email %><br>
  <%= f.email_field :email, placeholder: "example@example.com" %><br><br>
</div>
<div class="field">
  <%= f.label :password %><br>
  <%= f.password_field :password %><br><br>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %> 	